@import url(../util/reset.css);
/* Common */
button, [type=button] {
  outline: none;
  border: none;
  font-size: 18px;
  background: #7bd3f7;
  color: #fff;
  cursor: pointer;
}

body {
  overflow: hidden;
}

/* Main */
.body__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

h1 {
  font-size: 28px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.sign-up-frm {
  display: flex;
  flex-direction: column;
  width: 600px;
}

label {
  margin-bottom: 5px;
  font-size: 18px;
}

[class $= 'wranning'] {
  margin-bottom: 15px;
}

.frm-input {
  margin-bottom: 5px;
  padding: 10px 5px;
  font-size: 20px;
  background: none;
  outline: none;
  border: 0;
  border-bottom: 1px solid #999;
}

.frm-input:active {
  outline: none;
}

[disabled] {
  cursor: default;
  background: #999;
}

#user-id {
  margin: 0;
  width: 80%;
}

.id-wrapper {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

#user-name {
  margin-bottom: 15px;
}

.email-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 10px;
}

#user-email {
  width: 75%;
  margin: 0;
}

.email-btn {
  width: 45%;
}

.send-lisence {
  width: 20%;
}

.lisence {
  margin: 0;
  width: 50%;
}

.frm-submit-btn {
  padding: 10px 0;
}

footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #fff;
}

footer p {
  font-size: 20px;
  color: #999;
}